{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form(form) }}
{% endblock %}